#index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .item {
    margin: 10px;
  }
  #show-dialog {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .actions .icon {
    color: #000 !important;
  }

  table {
    input, label {
      font-size: 0.7em;
    }
  }
}

.mdl-dialogp-options {
  box-shadow: unset;
  border: none;
  background: transparent;
  .mdl-button {
    display: none;
  }
}
#options {
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    display: none;
  }
  .wrapper {
    background: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -300px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    padding: 10px 0;
    transition: bottom 0.3s ease-out;

    border: 1px solid rgba(0,0,0,.12);
    @include shadow;

    hr {
      margin: 5px 0;
    }

    .delete {
      color: $Error;
    }
  }

  .open {
    bottom: 0px !important;
  }
}

#view {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  display: none;

  .img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


//mary styles
.table-gallery {
  margin-top: 10px;
}

.img-menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100%;
  z-index: 10000;
}

.delete-wrapper {
  margin: 10px auto;
}
